body{
    background-image: url(./image/1314723.png);
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(137, 207, 235,0.5);
    cursor: url("./faluuj.png"),default;
}
a,
.pointer,
button {
    cursor: url("./rrmz.png"),pointer;
}
img.blur{
    /* opacity: 0;
    filter: blur(5px);
    transition: opacity 0.8s ease-out, filter 0.8s ease-out; */
    filter: blur(20px);
    transition: filter 0.7s ease-out;
}

img.lazyloaded {
    opacity: 1;
    filter: blur(0);
}

.special-pointer{
    cursor: url("./faluuj.png"),default;
}

